/*RTLx2*/
/*Right Sidebar*/
.Root__right-sidebar {grid-area: left-sidebar !important; min-inline-size: -webkit-fill-available !important; width: calc(var(--zoom-level) * 1px) !important;}

/*Pointer Events*/
.Root__right-sidebar {pointer-events: none;}
aside#Desktop_PanelContainer_Id {pointer-events: auto;}

/*Right Sidebar Left Layout Resizer*/
.LayoutResizer__inline-start {visibility: hidden !important;}

/*Album Art on Canvas*/
.u_oJcTzbq1mJ8qfhBggZ .DyIlapjoCthUuSOzmJGD {opacity: 90% !important; visibility: visible !important; z-index: 1 !important;}

/*RTL Scaling/ Alignment*/
.oXO9_yYs6JyOwkBn8E4a {aspect-ratio: 1 / 1.13;}
.oXO9_yYs6JyOwkBn8E4a:has([aria-label="Queue"], [Aria-label="Friend Activity"],[Aria-label="Now playing view"]) {margin-bottom: 0px !important; align-self: end; min-inline-size: -webkit-fill-available; }
.Root__right-sidebar:has([aria-label="Queue"], [Aria-label="Friend Activity"],[Aria-label="Now playing view"]) { align-self:flex-end;justify-content: center; z-index: 5 !important;}

/*More Options Button*/
button.Button-sc-1dqy6lx-0.Button-buttonTertiary-small-iconOnly-useBrowserDefaultFocusStyle.e-91000-overflow-wrap-anywhere.e-91000-button-tertiary--icon-only.yiRHu4qsmlXpKcnFQsm2[aria-haspopup="menu"] {display: none !important;}

/*Devices*/
.oXO9_yYs6JyOwkBn8E4a {min-width: -webkit-fill-available !important;}
.FNi2RAtuzIc9THq8HYIW.qzdTjGAQRC8wD24IVpoA {padding: 8px 16px !important;}



/*To Consolidate*/
/*Accented Fix*/
 .main-entityHeader-backgroundColor.E6B69KorCyIUBzy_sSt8, .spotify__container--is-desktop:not(.fullscreen) .main-topBar-background , .main-entityHeader-backgroundColor:not(.__transparent, .main-home-homeHeader, .main-actionBarBackground-background)  {background: var(--background-base) !important;}
.E6B69KorCyIUBzy_sSt8:after {opacity: 0.25 !important;}

/*Forward & Previous Buttons*/
.custom-navlinks-scrollable_container {margin-right: -60px !important;}

/*Nav Bar Fix*/
.Root__globalNav .ppjvheuqvs8mmcHwKkK5 {padding: 4px 0px 0px 16px !important;}
.Root__globalNav .DoxYADBBjYMvoYwl7QPg {margin-inline: 8px !important;}

/*Your Library*/
.lsrLTX2g9H3hmP5QCUcr {margin-inline-start: 40px !important;}
.lsrLTX2g9H3hmP5QCUcr {color: var(--spice-subtext) !important;}
/*Scrollbar Height*/
.spotify__container--is-desktop.spotify__os--is-windows .main-view-container__scroll-node>.os-scrollbar-vertical {top: 64px;}

.Root__globalNav.global-libraryX {min-width: (calc(var(--left-sidebar-width) * 1)) !important; max-width:(calc(var(--left-sidebar-width) * 1)) !important; width: (calc(var(--left-sidebar-width) * 1)) !important;}
/*Profile Pic*/
.Root__top-container[data-right-sidebar-hidden="true"] .main-topBar-topbarContentRight {right: 150px !important;}
.Root__globalNav .main-topBar-topbarContentRight {top: 8px !important;}

/*Disable Create Button*/
.UCyimCp8rEfL5nB8paBu.d593JHt3l8dr2Ifvx0a_, .UCyimCp8rEfL5nB8paBu {display: none;}
/*Disable Video Cards*/
.poE16HkpVWFq3nhSTb2W:has(.pZv7o3WiYmBZZUUd_k1y) {display: none !important;}

/*Home Cards*/
.Wwot_NoO8I52DIWFsJtA {aspect-ratio: 3;}
/*Home Button Order*/
button.Button-sc-1dqy6lx-0.Button-buttonTertiary-medium-iconOnly-useBrowserDefaultFocusStyle.e-91000-overflow-wrap-anywhere.e-91000-button-tertiary--icon-only.DoxYADBBjYMvoYwl7QPg.main-globalNav-navLink.link-subtle {order: 1 !important;}
/*Justify - broken*/
/*.main-globalNav-historyButtonsContainer, .tqCUDtAz7Iqgtp76Zugj>.main-globalNav-searchSection {
  justify-content: flex-start !important;
}*/

/*Search Button*/
input.e-91000-form-input.e-91000-baseline.e-91000-form-control.encore-text-body-medium.main-topBar-searchBar.x-searchInput-searchInputInput {background: black !important; padding-inline: 55px !important;}
.Root__globalNav .fmZ0hU6ImbDQi5qGWLvF, .Root__globalNav .main-globalNav-searchContainer > span:nth-child(2), .Root__globalNav .main-globalNav-searchContainer > span[role="presentation"], .Root__globalNav .main-globalNav-searchContainer > .zugTpa7GhjPIQmTCgBzw, .Root__globalNav .main-globalNav-searchContainer .main-globalNav-searchInputSection, .Root__globalNav .main-globalNav-searchContainer > form {left: 0px !important;}

.Root__globalNav .main-globalNav-searchContainer .main-globalNav-searchInputSection {
    min-width: (calc(var(--left-sidebar-width) * 1)) !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    order: 2 !important;
    left: 2.5px !important;
    position: relative !important;
    top: 0px !important;
}
/*Search Dropdown*/
.eoACZlxIIdCS_g00hynp:focus-within .JkvrLi4Txzq1Oo8ckPM7.Z9zIHlpsT2vCYKtScl6t {
    height: 398px;
    opacity: 1;
    visibility: visible;
    min-width: (calc(var(--left-sidebar-width) * 1)) !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    position: fixed;
}

.searchInputCollapsed:not(.forceExpandSearchInput) .main-globalNav-searchInputSection>.main-globalNav-searchInputContainer {
    -webkit-transition: width .22s ease-out;
    transition: width .22s ease-out;
    min-width: (calc(var(--left-sidebar-width) * 1px));
}
/*Smalll Search Bubble Width/height*/
form.e-91000-form-input-icon.e-91000-baseline.e-91000-form-input-icon--leading.e-91000-form-input-icon--trailing.main-globalNav-searchInputContainer {
    min-width: -webkit-fill-available !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    height: 48px !important;
}
.main-globalNav-searchInputContainer .main-topBar-searchBar:placeholder-shown {padding-inline-end: 64px !important; padding-inline-start: 50px !important;}


/*Search Dropdown*/
/*.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {overflow: visible;}*/
.znOINyqAy7ivIGbQyrbt {width: 55% !important;}
/*Left Sidebar Alignment*/
.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {padding-left: 0.65rem !important;}
#Desktop_LeftSidebar_Id, .Root__nav-bar {padding-left: 0.35rem !important; padding-top: 0.1rem !important;}
/*Search Text*/
.eoACZlxIIdCS_g00hynp:not(:hover) .main-topBar-searchBar:placeholder-shown~.al8f6ds34QJ4LZ74vbVP:before {
    content: "Search" ;
    font-weight: bolder;
    background: black;
    border: 2px black solid;
    padding-inline-start: 12px !important;
}
.al8f6ds34QJ4LZ74vbVP:has(.vq_8tRO1ZF7Fy_ThSKSv) {
    background: black;
    padding-inline: unset !important;
    left: 50px;
    width: 58%;
    height: 70%;
}
.Wmr5qZ5jui6X37XCrChA {opacity: 1 !important;}
.al8f6ds34QJ4LZ74vbVP {opacity: 1; background: black;}
.VeD7NAcigQaaIUn8jrkN {display: none;}

/*History Buttons*/
.Root__globalNav .main-globalNav-historyButtons {
    left: var(--left-sidebar-width) !important;
    top: -14.5rem !important;
    gap: 0.5rem !important;
    position: relative !important;
    /*right: -60px !important;*/
    z-index: 9999 !important;
}
/*Marketplace Topbar*/
.marketplace-header {top: var(--top-bar-height) !important;}
/*Artist Page Topbar*/
.main-topBar-container {height: 64px;}
.main-topBar-container .contentSpacing {padding-top: 10px;}
/*Artist Page Row Alignment*/
.main-shelf-shelfGrid.F6KIjQA_4VF5NaIRUClT {grid-auto-rows: auto !important; padding: 5px !important;}

/*Artist Page Recommended Artist*/
.main-cardImage-imageWrapper {background-color: transparent !important; box-shadow: unset !important;}


/*Top Bar Filters*/
/*Coloured Background*/
.main-home-filterChipsSection, .main-home-filterChipsSection.CEB3nzyniIFOx1yM1eYy:after {height: 64px !important;}
/*Home Filter Buttons*/
.main-home-filterChipsContainer {padding-top: 8px;}
/*Search Buttons*/
.e_N7UqrrJQ0fAw9IkNAL {z-index: 2;}
.TTqztOKNmOoIgsOzermU {height: 33px;}
#searchPage:before {position: absolute !important;}
/*Button Drag*/
.u_wTfCtgm9HvxrphUxKd, .TTqztOKNmOoIgsOzermU {app-region: no-drag;}
.main-topBar-topbarContentWrapper, .spotify__container--is-desktop:not(.fullscreen) .main-topBar-background {-webkit-app-region: drag;}
.main-topBar-topbarContentWrapper {pointer-events: all; -webkit-app-region: drag; max-width: 60%;}

/*Your Library Width*/
.WBFaUw_oOfN2m4aTxggt {width: calc(var(--left-sidebar-width) * 1px) !important;}
/*Lour Library List Filter Text Wrap*/
.Ilya_qKquDezeLa0vyQh>:nth-child(2) {text-wrap-mode: nowrap;}
/*your Library Background Colour*/
.Ilya_qKquDezeLa0vyQh {background-color: black !important;}

/*Search Page Featured - Broken*/
.tyPeARr1PSxTUMloPfkQ {grid-column: span 1 !important;}

/*Playlist Header*/
.main-entityHeader-container {padding-bottom: unset !important; align-items: center !important;}

/*Beautiful Lyrics Fix*/
.Heart.Filled {display: none !important;}