/*RTLx2*/
/*Right Sidebar*/
.Root__right-sidebar {grid-area: left-sidebar !important; min-inline-size: -webkit-fill-available !important; width: calc(var(--zoom-level) * 1px) !important;}

/*Right Sidebar Left Layout Resizer*/
.LayoutResizer__inline-start {visibility: hidden !important;}

/*Album Art on Canvas*/
.u_oJcTzbq1mJ8qfhBggZ .DyIlapjoCthUuSOzmJGD {opacity: 90% !important; visibility: visible !important; z-index: 1 !important;}

/*RTL Scaling/ Alignment*/
.oXO9_yYs6JyOwkBn8E4a {aspect-ratio: 1 / 1.13;}
.oXO9_yYs6JyOwkBn8E4a:has([aria-label="Queue"], [Aria-label="Friend Activity"],[Aria-label="Now playing view"]) {margin-bottom: 0px !important; align-self: end; min-inline-size: -webkit-fill-available; }
.Root__right-sidebar:has([aria-label="Queue"], [Aria-label="Friend Activity"],[Aria-label="Now playing view"]) { align-self:flex-end;justify-content: center;}
