:root {
	--panel-gap: 0 !important;
	--top-bar-height: 64px;
	--border: 1px solid var(--spice-main-elevated);
}

.Root__top-container,
:root .global-nav .Root__top-container,
.spotify__container--is-desktop .global-nav .Root__top-container {
	padding-top: 64px !important;
	grid-template-areas: "global-nav main-view right-sidebar" "left-sidebar main-view right-sidebar" "now-playing-bar now-playing-bar now-playing-bar" !important;
	grid-template-rows: auto 1fr auto !important;
}

#Desktop_LeftSidebar_Id,
.Root__globalNav {
	transition: width 0.3s ease;
}

.Root__globalNav .main-globalNav-historyButtonsContainer,
.Root__globalNav .main-globalNav-searchSection,
.Root__globalNav .main-topBar-topbarContentRight {
	-webkit-transform: none !important;
	transform: none !important;
}

.Root__globalNav {
	height: unset;
	max-width: calc(var(--left-sidebar-width) * 1px);
	width: calc(var(--left-sidebar-width) * 1px);
	border-radius: 8px;
	padding-inline: unset !important;
	align-items: unset;
	padding: 8px !important;
	z-index: var(--above-everything-except-now-playing-bar-z-index, 5);
	margin: 0 !important;
}

.Root__globalNav .main-globalNav-navLink,
.Root__globalNav .main-globalNav-link-icon {
	background-color: unset;
	transform: unset;
	justify-content: unset;
	padding: 1rem;
	border: none !important;
}

.Root__nav-bar .LayoutResizer__resize-bar {
	height: 82vh;
	bottom: 0;
}

.main-actionButtons {
	display: inline-flex !important;
	animation: unset !important;
}
.main-actionButtons .main-topBar-buddyFeed {
	background-color: var(--spice-sidebar);
}
.main-actionButtons .main-topBar-buddyFeed svg {
	height: 14px !important;
	width: 14px !important;
}

.main-globalNav-historyButtons > * {
	display: unset;
}

.main-globalNav-historyButtons {
	order: 1;
	display: unset;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.main-globalNav-historyButtonsContainer {
	display: grid;
	order: 0;
	z-index: -1;
}

.main-globalNav-searchSection {
	order: -1;
}

.Root__globalNav .Dp3xccI7c2f_JSJ8OHYu {
	margin-inline-start: unset;
}

.Root__globalNav,
.main-globalNav-searchContainer,
.aKOZdeebnsaeeMTiugmO {
	flex-direction: column !important;
}

.SFAoASy0S_LZJmYZ3Fh9 {
	background: unset;
	background-color: unset !important;
	border-bottom: unset;
}

.main-topBar-topbarContentRight {
	justify-content: unset;
}

.main-globalNav-iconText:not(.main-globalNav-link-icon) {
	font-size: 1rem;
	font-weight: 700;
	margin-inline-start: 0.5rem;
}

.main-globalNav-historyButtons,
.Root__globalNav .main-topBar-topbarContentRight {
	position: fixed !important;
	display: flex !important;
	top: 0;
	padding: 0.5rem;
	height: max-content;
	width: max-content;
	gap: 0;
}

._b3hhmbWtOY8_1M1mM1H {
	margin-inline: 0;
}

.zugTpa7GhjPIQmTCgBzw,
.main-globalNav-searchInputSection {
	position: fixed;
	top: 0.5rem;
	max-width: 25vw;
	margin-inline: unset;
}

.Root__globalNav .fmZ0hU6ImbDQi5qGWLvF,
.Root__globalNav .main-globalNav-searchContainer > span:nth-child(2),
.Root__globalNav .main-globalNav-searchContainer > span[role="presentation"],
.Root__globalNav .main-globalNav-searchContainer > .zugTpa7GhjPIQmTCgBzw,
.Root__globalNav
	.main-globalNav-searchContainer
	.main-globalNav-searchInputSection,
.Root__globalNav .main-globalNav-searchContainer > form {
	position: fixed;
	top: calc(var(--search-container-top, var(--panel-gap, 0.5rem))) !important;
	left: calc(
		var(--history-button-left, var(--panel-gap, 0.5rem)) +
		var(--left-sidebar-width) *
		1px +
		0.75rem
	) !important;
	width: 28vw;
	max-width: 28vw;
	height: fit-content;
}

.Root__globalNav .main-topBar-topbarContentRight {
	right: 0px !important; /*right: 0.5rem;*/
    top: 18px !important;
    margin-inline-end: 12em !important;
}

.spotify__container--is-desktop.spotify__os--is-windows
	.Root__globalNav
	.main-topBar-topbarContentRight {
	right: 10vw;
}

.main-globalNav-navLinkActive {
	background-color: rgba(var(--spice-rgb-selected-row), 0.1) !important;
	border-radius: 0.5rem !important;
}

#main:has(.oZT8iKL42zhLAm_zE5F5) .main-globalNav-textWrapper.nav-wrapper {
	display: none;
}

.Root__globalNav {
	display: flex;
	overflow: hidden;
	--card-gap: 0.25rem;
}

.custom-navlinks-scrollable_container {
	-webkit-app-region: no-drag;
	max-width: 100% !important;
	width: 100% !important;
}

.Root__globalNav .main-globalNav-searchContainer,
.Root__globalNav
	.search-searchCategory-categoryGrid
	> div[role="presentation"] {
	display: flex;
	flex-direction: column !important;
	width: 100% !important;
	row-gap: var(--card-gap);
}

.Root__globalNav .main-globalNav-navLink,
.Root__globalNav
	.search-searchCategory-categoryGrid
	> div[role="presentation"]
	> button {
	/* background-color: var(--spice-card); */
	border-radius: 0.5rem;
}

.custom-navlinks-scrollable_container {
	margin-top: var(--card-gap);
}

.custom-navlinks-scrollable_container div[role="presentation"] > * {
	margin: 0 !important;
}

.zugTpa7GhjPIQmTCgBzw:has(input:focus) {
	z-index: 5;
}

.Root__globalNav .main-globalNav-searchInputSection {
	display: flex;
	align-items: center;
	z-index: var(--above-main-and-now-playing-view-grid-area, 6);
}

.forceExpandSearchInput
	.main-globalNav-searchInputSection
	.main-globalNav-textWrapper {
	display: none;
}

.main-globalNav-textWrapper.nav-wrapper {
	margin-left: 1rem;
}

.main-globalNav-searchInputSection .main-globalNav-textWrapper {
	position: absolute;
	margin-left: 3.25rem;
	top: 50%;
	transform: translateY(-50%);
}

.main-globalNav-searchText {
	font-size: 1rem;
	flex-direction: row;
	display: flex;
	align-items: center;
	text-wrap: nowrap;
}

.forceExpandSearchInput .main-globalNav-searchInputContainer input {
	border: 1px solid var(--background-elevated-base);
}

.searchInputCollapsed
	.main-globalNav-searchInputContainer
	.jl5Sca1FSi1bSBIyQ72h {
	visibility: hidden;
}

.global-libraryX .main-globalNav-searchInputSection {
	min-width: 25vw;
	/* max-width: 25vw; */
}

.forceExpandSearchInput
	.main-globalNav-searchInputContainer
	.jl5Sca1FSi1bSBIyQ72h,
.searchInputCollapsed.forceExpandSearchInput
	.main-globalNav-searchInputContainer
	.jl5Sca1FSi1bSBIyQ72h {
	visibility: visible !important;
}

.custom-navlinks-scrollable_container {
	margin-top: 0;
}

/* Fix line clamp in compact mode */
.LineClamp {
	-webkit-line-clamp: 1;
}

.Root__globalNav,
.main-yourLibraryX-entryPoints {
	background-color: transparent;
	border-radius: 0;
}

.LayoutResizer__resize-bar {
	z-index: 10;
	width: 4px;
	height: calc(100vh - var(--playbar-height, 80px));
	transition: all 0.3s ease;
}

/* Left Sidebar (Library with LibX) */
#Desktop_LeftSidebar_Id,
.Root__nav-bar {
	/* color reset */
	background-color: var(--spice-sidebar);
	border-radius: 0;
}
.main-yourLibraryX-header,
.Root__nav-bar .main-yourLibraryX-header {
	padding-top: 0px;
	margin-top: -4px;
}

.main-yourLibraryX-headerContent,
.Root__nav-bar .main-yourLibraryX-headerContent {
	padding-top: 0px;
	position: relative;
	padding-bottom: 0.5rem;
}
.main-yourLibraryX-headerContent:before,
.Root__nav-bar .main-yourLibraryX-headerContent:before {
	content: "";
	position: absolute;
	inset: 0;
	/* width: calc(100% - 1rem); */
	border-bottom: var(--border);
}

.main-yourLibraryX-headerContent
	.main-yourLibraryX-button.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle,
.Root__nav-bar
	.main-yourLibraryX-headerContent
	.main-yourLibraryX-button.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle {
	opacity: 0;
	transition: opacity 0.3s ease;
}
#Desktop_LeftSidebar_Id:hover
	.main-yourLibraryX-button.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle,
.Root__nav-bar:hover
	.main-yourLibraryX-button.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle {
	opacity: 1;
}
.main-yourLibraryX-listItem .encore-text,
.Root__nav-bar .main-yourLibraryX-listItem .encore-text {
	color: var(--spice-subtext);
}
.main-yourLibraryX-listItem .encore-text-body-medium,
.main-yourLibraryX-listItem .encore-text-body-medium-bold,
.Root__nav-bar .main-yourLibraryX-listItem .encore-text-body-medium,
.Root__nav-bar .main-yourLibraryX-listItem .encore-text-body-medium-bold {
	font-size: 14px;
	font-weight: 600;
}
.main-yourLibraryX-listItem p.hxCObm,
.Root__nav-bar .main-yourLibraryX-listItem p.hxCObm {
	display: none;
}

.main-yourLibraryX-libraryContainer.sikBfynL1Y6I25nVpbAg
	.Box-group-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px-padding_8px,
.Root__nav-bar
	.main-yourLibraryX-libraryContainer.sikBfynL1Y6I25nVpbAg
	.Box-group-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px-padding_8px {
	padding: 4px 8px;
}
.LayoutResizer__resize-bar,
.Root__nav-bar .LayoutResizer__resize-bar {
	left: calc(var(--left-sidebar-width) * 1px);
}

.main-yourLibraryX-libraryFilter,
.main-yourLibraryX-filterArea {
	visibility: hidden;
	display: none;
	transition: all 0.3s ease;
}

body:has(#sort-and-view-picker) .main-yourLibraryX-filterArea,
body:has(#sort-and-view-picker) .main-yourLibraryX-libraryFilter,
#Desktop_LeftSidebar_Id:hover .main-yourLibraryX-filterArea,
#Desktop_LeftSidebar_Id:hover .main-yourLibraryX-libraryFilter {
	visibility: visible;
	display: inherit;
}

/* Global Nav */
.Root__globalNav {
	padding-top: 2.25rem !important;
	padding-left: 6px !important;
}
.Root__globalNav .main-userWidget-box {
	width: fit-content;
	height: 32px;
	gap: 4px;
	background-color: var(--spice-sidebar) !important;
	transition: all 0.3s ease;
}
.Root__globalNav .main-userWidget-box:focus,
.Root__globalNav .main-userWidget-box:hover,
.Root__globalNav .main-userWidget-box[data-context-menu-open="true"] {
	transform: none;
	background-color: rgba(var(--spice-rgb-sidebar), 0.5) !important;
}
.Root__globalNav .main-userWidget-hasAvatar,
.Root__globalNav .main-userWidget-hasAvatar div {
	height: 24px !important;
	width: 24px !important;
}
.Root__globalNav .main-globalNav-navLinkActive,
.Root__globalNav .main-globalNav-navLink,
.Root__globalNav .main-globalNav-link-icon {
	background-color: transparent !important;
	border-radius: 0px !important;
	height: 3rem;
}
.Root__globalNav .main-globalNav-navLinkActive:hover,
.Root__globalNav .main-globalNav-navLink:hover,
.Root__globalNav .main-globalNav-link-icon:hover {
	background-color: transparent !important;
}
.Root__globalNav .main-globalNav-searchContainer .main-globalNav-link-icon {
	margin-top: -1rem;
}
.Root__globalNav .main-globalNav-historyButtons {
	left: calc(var(--left-sidebar-width) * 1px + 0.75rem) !important;
	top: 0.5rem !important;
	gap: 0.5rem !important;
}
.Root__globalNav .main-globalNav-historyButtons .main-globalNav-icon {
	background-color: var(--spice-sidebar);
	border-radius: 99px;
	padding: 4px;
	min-block-size: unset;
	inline-size: unset;
}
.Root__globalNav .main-globalNav-historyButtons .main-globalNav-icon > span {
	/* --size: 22px;
					 height: var(--size);
					 width: var(--size); */
	transform: scale(0.75);
}
.Root__globalNav .main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9,
.Root__globalNav .main-globalNav-searchInputContainer input {
	background-color: var(--spice-card) !important;
}
.Root__globalNav .b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar,
.Root__globalNav .EJttP30F1zYHeAw7ISHb {
	background-color: var(--spice-sidebar);
	transform: scale(0.75);
}
.Root__globalNav input {
	padding-inline-start: 1rem !important;
	/* padding-inline-end: 0rem !important; */
}
.Root__globalNav .BV0jjn_h5TtMMl8YKuZ0 {
	-webkit-border-start: none;
	border-inline-start: none;
	padding-inline: 0rem;
}
.Root__globalNav .BV0jjn_h5TtMMl8YKuZ0 button {
	background-color: var(--spice-sidebar);
	padding: 8px;
}
.Root__globalNav .BV0jjn_h5TtMMl8YKuZ0 button svg {
	height: 20px;
	width: 20px;
}
.Root__globalNav .main-topBar-topbarContentRight {
	/*right: calc(var(--panel-width, var(--right-sidebar-width)) * 1px + 8px) !important;*/
	top: 8px;
}

/* Root container */
.Root__top-container,
:root .global-nav .Root__top-container,
.spotify__container--is-desktop .global-nav .Root__top-container {
	padding-top: 0 !important;
}

.Root__top-container {
	gap: 0px;
	padding-left: 0px;
	padding-right: 0px !important;
}
.Root__top-container[data-right-sidebar-hidden="false"] {
    padding-right: 0px !important;
}


/* Main View */
.Root__main-view {
	border-radius: 0px;
}
.Root__main-view .main-topBar-topbarContent {
	gap: 1rem;
}
.main-topBar-container {
	height: fit-content;
}
.main-topBar-container .contentSpacing {
	padding-top: var(--top-bar-height);
	padding-bottom: 8px;
}
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
	padding-top: calc(var(--top-bar-height) - 8px);
}
.main-topBar-background {
	border-radius: 0px;
}
.main-home-filterChipsContainer {
	padding-top: 64px;
}
.main-gridContainer-gridContainer {
	gap: 24px;
}
.IGCDq9qa08JVVY3mcy7Y {
	padding: 0;
}
.main-shelf-shelfGrid {
	margin-inline: 0;
	margin-top: 0.75rem;
}
.Root__main-view .main-card-cardContainer,
.Root__main-view .BoxComponent-group-card-naked-isInteractive {
	background-color: #181818;
	transition: background-color 0.3s ease;
}
.Root__main-view .main-card-cardContainer:after,
.Root__main-view .BoxComponent-group-card-naked-isInteractive:after {
	--animation-speed: .3s;
}
.Root__main-view .main-card-cardContainer .encore-text,
.Root__main-view .BoxComponent-group-card-naked-isInteractive .encore-text {
	font-weight: 800;
}
.Root__main-view .main-card-cardContainer .encore-text.encore-text-body-small,
.Root__main-view
	.BoxComponent-group-card-naked-isInteractive
	.encore-text.encore-text-body-small {
	font-weight: 500 !important;
}
.Root__main-view .main-card-cardContainer .main-card-cardTitle,
.Root__main-view
	.BoxComponent-group-card-naked-isInteractive
	.main-card-cardTitle {
	height: 100% !important;
}
.Root__main-view
	.main-card-cardContainer
	.main-card-cardTitle
	.NUoUlYHQoMKe6r7dL2Hg,
.Root__main-view
	.BoxComponent-group-card-naked-isInteractive
	.main-card-cardTitle
	.NUoUlYHQoMKe6r7dL2Hg {
	visibility: visible;
}

/* Playbar */
.Root__now-playing-bar {
	border-radius: 0;
	padding: 0;
	margin: -8px;
	width: calc(100% + 16px);
	background: var(--spice-main);
	/* remove npv button */
}
button[data-restore-focus-key="now_playing_view"],
.Root__now-playing-bar
	.main-genericButton-button[data-restore-focus-key="now_playing_view"] {
	display: none;
	visibility: hidden;
}
.main-nowPlayingBar-nowPlayingBar {
	height: 90px;
	border-bottom: var(--border);
	border-top: var(--border);
	padding: 0 0.75rem;
}

/*.Root__right-sidebar {
	margin-right: -8px;
}
#Desktop_PanelContainer_Id {
	padding-top: 2rem;
}*/
#Desktop_PanelContainer_Id > div {
	position: relative;
}
.Root__right-sidebar .LayoutResizer__resize-bar {
	right: calc(var(--panel-width, var(--right-sidebar-width)) * 1px - 8px);
	inset-inline-start: -2px;
}

/* fix for right sidebar hidden state */
.Root__top-container[data-right-sidebar-hidden="true"] .Root__main-view {
	margin-right: -8px !important;
	width: calc(100% + 8px);
}
.Root__top-container[data-right-sidebar-hidden="true"]
	.Root__right-sidebar
	.LayoutResizer__resize-bar {
	right: 0px;
}
.Root__top-container[data-right-sidebar-hidden="true"]
	.main-topBar-topbarContentRight {
	/* specific to wundoss */
	right: 0px !important; /*right: 143px !important;*/
    margin-inline-end: 2em !important;
}

:root {
	--cover-size: 64px;
}

.main-coverSlotCollapsed-container {
	height: var(--cover-size);
}

.main-nowPlayingWidget-coverArt .cover-art {
	height: var(--cover-size) !important;
	width: var(--cover-size) !important;
}

/* margin top overrides */
.N_8iI7NKHP0iG2jp3g0R,
.Liif5fNYkY903HPAQd1N,
.D6IunHuzuULf_Sr88GOA,
.y9Olwg6ho6E95Rud3iLs,
.KY_tGmIGPqs9GPaaPqL1,
.J6PX6RfvHlA4BPp7_8sJ,
.playlist-playlist-playlist,
section[data-testid*="album"],
section[data-testid*="playlist"],
.bOAvdKi0zqyA_S6ThcvF,
.m2grVeuHNwfGLVpaSBle,
.bOAvdKi0zqyA_S6ThcvF,
.m2grVeuHNwfGLVpaSBle,
.ijkY1leciNts_lZ000bI,
.wmGcau34_eXQOX37kUTc,
section[data-testid*="album"],
section[data-testid*="playlist"] {
	margin-top: 0;
}

#searchPage:before {
	--offset: -1.5rem;
	content: "";
	top: 0;
	left: 0;
	margin: 0 var(--offset);
	display: block;
	position: sticky;
	height: var(--top-bar-height);
	width: calc(100% + var(--offset) * -1 + 8px);
	background-color: var(--spice-main);
	z-index: 1;
	overflow: hidden;
}

.Root__main-view:has(#searchPage) .os-scrollbar-horizontal {
	display: none !important;
}

.main-entityHeader-background {
	height: 48vh;
}
.marketplace-header {
	top: calc(var(--top-bar-height) + 46px);
	padding-top: 0.5rem;
}

.marketplace-card-type-heading {
	margin-top: 8rem;
}
/*Left Sidebar List Alignment*/
.ppjvheuqvs8mmcHwKkK5 {gap: 0px; padding-inline-start: unset;}
.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {padding-top: 64px !important; right: 7px;}
.custom-navlinks-scrollable_container div[role="presentation"] {position: relative; right: 8px !important;}
.Root__globalNav .main-globalNav-searchContainer, .Root__globalNav .search-searchCategory-categoryGrid > div[role="presentation"] {width: 100% !important; row-gap: 0px;}
.IEulmRakQT_FgH43ov2a {display: none;}
.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {container-type: inline-size;}
.EZ0DodWeNZb_gDFdrJ95, .b2LUdwZOrUuUETSvak0G {display: contents !important;}
.lsrLTX2g9H3hmP5QCUcr {margin-inline-start: 30px !important;}
.BFcR3FeXWsIvQXHYY0ZP ._lVH_C166JV99SJFGZsI, .YourLibraryX:has(:focus-visible) .BFcR3FeXWsIvQXHYY0ZP ._lVH_C166JV99SJFGZsI, .YourLibraryX:hover .BFcR3FeXWsIvQXHYY0ZP ._lVH_C166JV99SJFGZsI {opacity: 1; transform: translateX(80%);}
.main-yourLibraryX-headerContent, .Root__nav-bar .main-yourLibraryX-headerContent {padding-top: 0.2rem !important; padding-bottom: 0.5rem !important;}
.bWCF4uPvQVdToZfID_NP ._lVH_C166JV99SJFGZsI {left: 10px; position: relative;}
/*Show Library Button*/
.ytvhgfquuy5jutqXeseA {display: none;}
/*Playlist Filters*/
.main-yourLibraryX-libraryFilter, .main-yourLibraryX-filterArea {visibility: visible !important; display: flex !important;}
/*Left Sidebar Scrollbar Alignment*/
.LayoutResizer__resize-bar, .Root__nav-bar .LayoutResizer__resize-bar {right: -2px !important; left: unset !important; bottom: 0px;}
/*Left Sidebar Background Colour*/
.main-yourLibraryX-libraryContainer {background-color: var(--spice-sidebar);}
/*Settings Top Alignment*/
.x-settings-container {position: relative; top: 64px !important;}
/*Item Background*/
.Root__main-view .main-card-cardContainer, .Root__main-view .BoxComponent-group-card-naked-isInteractive {background-color: unset !important;}




/*To Consolidate*/
/*Accented Fix*/
 .main-entityHeader-backgroundColor.E6B69KorCyIUBzy_sSt8, .spotify__container--is-desktop:not(.fullscreen) .main-topBar-background , .main-entityHeader-backgroundColor:not(.__transparent, .main-home-homeHeader, .main-actionBarBackground-background)  {background: var(--background-base) !important;}
.E6B69KorCyIUBzy_sSt8:after {opacity: 0.25 !important;}

/*Forward & Previous Buttons*/
.custom-navlinks-scrollable_container {margin-right: -60px !important;}

/*Nav Bar Fix*/
.Root__globalNav .ppjvheuqvs8mmcHwKkK5 {padding: 4px 0px 0px 16px !important;}
.Root__globalNav .DoxYADBBjYMvoYwl7QPg {margin-inline: 8px !important;}

/*Your Library*/
.lsrLTX2g9H3hmP5QCUcr {margin-inline-start: 40px !important;}
.lsrLTX2g9H3hmP5QCUcr {color: var(--spice-subtext) !important;}
/*Scrollbar Height*/
.spotify__container--is-desktop.spotify__os--is-windows .main-view-container__scroll-node>.os-scrollbar-vertical {top: 64px;}

.Root__globalNav.global-libraryX {min-width: (calc(var(--left-sidebar-width) * 1)) !important; max-width:(calc(var(--left-sidebar-width) * 1)) !important; width: (calc(var(--left-sidebar-width) * 1)) !important;}
/*Profile Pic*/
.Root__top-container[data-right-sidebar-hidden="true"] .main-topBar-topbarContentRight {right: 150px !important;}
.Root__globalNav .main-topBar-topbarContentRight {top: 8px !important;}

/*Disable Create Button*/
.UCyimCp8rEfL5nB8paBu.d593JHt3l8dr2Ifvx0a_, .UCyimCp8rEfL5nB8paBu {display: none;}
/*Disable Video Cards*/
.poE16HkpVWFq3nhSTb2W:has(.pZv7o3WiYmBZZUUd_k1y) {display: none !important;}

/*Home Cards*/
.Wwot_NoO8I52DIWFsJtA {aspect-ratio: 3;}
/*Home Button Order*/
button.Button-sc-1dqy6lx-0.Button-buttonTertiary-medium-iconOnly-useBrowserDefaultFocusStyle.e-91000-overflow-wrap-anywhere.e-91000-button-tertiary--icon-only.DoxYADBBjYMvoYwl7QPg.main-globalNav-navLink.link-subtle {order: 1 !important;}
/*Justify - broken*/
/*.main-globalNav-historyButtonsContainer, .tqCUDtAz7Iqgtp76Zugj>.main-globalNav-searchSection {
  justify-content: flex-start !important;
}*/

/*Search Button*/
input.e-91000-form-input.e-91000-baseline.e-91000-form-control.encore-text-body-medium.main-topBar-searchBar.x-searchInput-searchInputInput {background: black !important; padding-inline: 55px !important;}
.Root__globalNav .fmZ0hU6ImbDQi5qGWLvF, .Root__globalNav .main-globalNav-searchContainer > span:nth-child(2), .Root__globalNav .main-globalNav-searchContainer > span[role="presentation"], .Root__globalNav .main-globalNav-searchContainer > .zugTpa7GhjPIQmTCgBzw, .Root__globalNav .main-globalNav-searchContainer .main-globalNav-searchInputSection, .Root__globalNav .main-globalNav-searchContainer > form {left: 0px !important;}

.Root__globalNav .main-globalNav-searchContainer .main-globalNav-searchInputSection {
    min-width: (calc(var(--left-sidebar-width) * 1)) !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    order: 2 !important;
    left: 2.5px !important;
    position: relative !important;
    top: 0px !important;
}
/*Search Dropdown*/
.eoACZlxIIdCS_g00hynp:focus-within .JkvrLi4Txzq1Oo8ckPM7.Z9zIHlpsT2vCYKtScl6t {
    height: 398px;
    opacity: 1;
    visibility: visible;
    min-width: (calc(var(--left-sidebar-width) * 1)) !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    position: fixed;
}

.searchInputCollapsed:not(.forceExpandSearchInput) .main-globalNav-searchInputSection>.main-globalNav-searchInputContainer {
    -webkit-transition: width .22s ease-out;
    transition: width .22s ease-out;
    min-width: (calc(var(--left-sidebar-width) * 1px));
}
/*Smalll Search Bubble Width/height*/
form.e-91000-form-input-icon.e-91000-baseline.e-91000-form-input-icon--leading.e-91000-form-input-icon--trailing.main-globalNav-searchInputContainer {
    min-width: -webkit-fill-available !important;
    max-width: (calc(var(--left-sidebar-width) * 1)) !important;
    width: (calc(var(--left-sidebar-width) * 1)) !important;
    height: 48px !important;
}
.main-globalNav-searchInputContainer .main-topBar-searchBar:placeholder-shown {padding-inline-end: 64px !important; padding-inline-start: 50px !important;}


/*Search Dropdown*/
/*.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {overflow: visible;}*/
.znOINyqAy7ivIGbQyrbt {width: 55% !important;}
/*Left Sidebar Alignment*/
.spotify__container--is-desktop.spotify__os--is-macos .Root__globalNav, .spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav, .Root__globalNav {padding-left: 0.65rem !important;}
#Desktop_LeftSidebar_Id, .Root__nav-bar {padding-left: 0.35rem !important; padding-top: 0.1rem !important;}
/*Search Text*/
.eoACZlxIIdCS_g00hynp:not(:hover) .main-topBar-searchBar:placeholder-shown~.al8f6ds34QJ4LZ74vbVP:before {
    content: "Search" ;
    font-weight: bolder;
    background: black;
    border: 2px black solid;
    padding-inline-start: 12px !important;
}
.al8f6ds34QJ4LZ74vbVP:has(.vq_8tRO1ZF7Fy_ThSKSv) {
    background: black;
    padding-inline: unset !important;
    left: 50px;
    width: 58%;
    height: 70%;
}
.Wmr5qZ5jui6X37XCrChA {opacity: 1 !important;}
.al8f6ds34QJ4LZ74vbVP {opacity: 1; background: black;}
.VeD7NAcigQaaIUn8jrkN {display: none;}

/*History Buttons*/
.Root__globalNav .main-globalNav-historyButtons {
    left: var(--left-sidebar-width) !important;
    top: -26ex !important;
    gap: 0.5rem !important;
    position: relative !important;
    /*right: -60px !important;*/
    z-index: 9999 !important;
}
/*Marketplace Topbar*/
.marketplace-header {top: var(--top-bar-height) !important;}
/*Artist Page Topbar*/
.main-topBar-container {height: 64px;}
.main-topBar-container .contentSpacing {padding-top: 10px;}
/*Artist Page Row Alignment*/
.main-shelf-shelfGrid.F6KIjQA_4VF5NaIRUClT {grid-auto-rows: auto !important; padding: 5px !important;}

/*Artist Page Recommended Artist*/
.main-cardImage-imageWrapper {background-color: transparent !important; box-shadow: unset !important;}


/*Top Bar Filters*/
/*Coloured Background*/
.main-home-filterChipsSection, .main-home-filterChipsSection.CEB3nzyniIFOx1yM1eYy:after {height: 64px !important;}
/*Home Filter Buttons*/
.main-home-filterChipsContainer {padding-top: 8px;}
/*Search Buttons*/
.e_N7UqrrJQ0fAw9IkNAL {z-index: 2;}
.TTqztOKNmOoIgsOzermU {height: 33px;}
#searchPage:before {position: absolute !important;}
/*Button Drag*/
.u_wTfCtgm9HvxrphUxKd, .TTqztOKNmOoIgsOzermU {app-region: no-drag;}
.main-topBar-topbarContentWrapper, .spotify__container--is-desktop:not(.fullscreen) .main-topBar-background {-webkit-app-region: drag;}
.main-topBar-topbarContentWrapper {pointer-events: all; -webkit-app-region: drag; max-width: 60%;}

/*Your Library Width*/
.WBFaUw_oOfN2m4aTxggt {width: calc(var(--left-sidebar-width) * 1px) !important;}
/*Lour Library List Filter Text Wrap*/
.Ilya_qKquDezeLa0vyQh>:nth-child(2) {text-wrap-mode: nowrap;}
/*your Library Background Colour*/
.Ilya_qKquDezeLa0vyQh {background-color: black !important;}

/*Search Page Featured - Broken*/
.tyPeARr1PSxTUMloPfkQ {grid-column: span 1 !important;}

/*Playlist Header*/
.main-entityHeader-container {padding-bottom: unset !important; align-items: center !important;}

/*Beautiful Lyrics Fix*/
.Heart.Filled {display: none !important;}

/*Better Local Files Header Fix*/
.e-91000-box--padding-custom {padding: var(--box-padding, var(--box-padding-block-start) var(--box-padding-inline-end) var(--box-padding-block-end) var(--box-padding-inline-start)) !important;}
.lsrLTX2g9H3hmP5QCUcr {font-weight: bold;}
.TabBar-module__tabBar___DxQjm_betterDlocalDfiles ul li {pointer-events: all; z-index: 99999; app-region: no-drag;}